<div class="container">
  <div class="sidebar">
    <nz-tabset
      [nzSize]="'large'"
      [nzTabPosition]="tabPosition"
      [(nzSelectedIndex)]="selectedIndex"
      nzType="editable-card"
      (nzAdd)="newTab()"
      (nzClose)="closeTab($event)"
    >
      <nz-tab *ngFor="let tab of tabs" nzClosable [nzTitle]="tab">
        <form [formGroup]="cvForm">
          <cvg-data-cv-form formControlName="data"></cvg-data-cv-form>
        </form>
      </nz-tab>
    </nz-tabset>
  </div>

  <div class="mainpage"></div>
</div>
