<div class="container">
  <div class="sidebar">
    <nz-tabset
      [nzSize]="'large'"
      [nzTabPosition]="tabPosition"
      [(nzSelectedIndex)]="selectedIndex"
      nzType="editable-card"
      (nzAdd)="newTab()"
      (nzClose)="closeTab($event)"
    >
      <nz-tab *ngFor="let tab of tabs" nzClosable [nzTitle]="tab">
        <form [formGroup]="cvForm">
          <cvg-input-control formControlName="firstName" label="Firstname"></cvg-input-control>
          <cvg-input-control formControlName="lastName" label="Lastname"></cvg-input-control>
          <cvg-multi-select-control formControlName="skills" [options]="skills" label="Skills"></cvg-multi-select-control>
          <cvg-text-area-control formControlName="resume" label="Resume"></cvg-text-area-control>
        </form>
      </nz-tab>
    </nz-tabset>
  </div>

  <div class="mainpage"></div>
</div>
