:host {
  width: 100%;
  height: 100%;
  display: block;

  &::ng-deep {
    .ant-tabs-card.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab-active,
    .ant-tabs-card.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab-active {
      border: none;
      border-bottom: 2px solid var(--primary-light-blue) !important;
    }

    .ant-tabs-card.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
      border: none;
      background-color: #fff;
      width: 200px;
    }

    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
      border: none;
      background-color: #fff;
      width: 200px;
    }

    .ant-tabs-tab-btn {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .ant-tabs-nav-add {
      width: 200px;
    }
  }
}
