<div class="container">
    <div class="header__logo">
        <img class="header__logo__img" src="../../../../../assets/img/main/logo.svg" alt="" />
        <div class="header__logo__text">Ant Design</div>
    </div>
    <div class="header__nav">
        <div class="header__nav__icons">
            <span class="header__nav__icons__item" nz-icon nzType="search" nzTheme="outline"></span>
            <span class="header__nav__icons__item" nz-icon nzType="question-circle" nzTheme="outline"></span>
            <span class="header__nav__icons__item" nz-icon nzType="bell" nzTheme="outline"></span>
            <div class="header__nav__profile">
                <img class="header__nav__profile__icon" src="../../../../../assets/img/main/header_profile_pic.svg" alt="" />
                <span class="header__nav__profile__name">Serati Ma</span>
            </div>
            <cvg-translate-button class="header__nav__icons__item"></cvg-translate-button>
        </div>
    </div>
</div>