.container {
  width: 100%;
  height: 48px;

  background-color: var(--primary-dark-blue);
  color: white;

  display: flex;
  justify-content: space-between;

  .header {
    &-logo {
      margin-left: 8px;
      min-width: 130px;
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: center;

      &-img {
        margin-left: 16px;
        margin-right: 16px;
      }

      &-text {
        white-space: nowrap;
        font-weight: 600;
        font-size: 18px;
      }
    }

    &-nav {
      min-width: 250px;
      margin-right: 16px;

      &-icons {
        height: 100%;
        display: flex;
        justify-content: space-between;

        &-item {
          display: flex;
          align-items: center;
        }
      }

      &-profile {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
