@use './../../../../../styles/heights.scss' as *;

:host {
  display: block;
  width: 100%;
  height: $subheader-height;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  height: 136px;
  padding: 16px 0 16px 24px;
  background-color: var(--primary-white);
  .breadcrumbs {
    &-item {
      color: var(--primary-dark-blue);
      cursor: pointer;
    }
  }
  .label {
    font-weight: 500;
    font-size: 20px;
    color: var(--primary-dark-blue);
  }
  .description {
    font-weight: 400;
    font-size: 14px;
    color: var(--primary-dark-blue);
  }
}
