<form [formGroup]="employeeForm" class="form">
  <cvg-input-control class="employee-form-control" [formControlName]="'firstName'" label="First Name"></cvg-input-control>
  <cvg-input-control class="employee-form-control" [formControlName]="'lastName'" label="Last Name"></cvg-input-control>
  <cvg-input-control class="employee-form-control" [formControlName]="'email'" label="Email"></cvg-input-control>
  <cvg-input-control class="employee-form-control" [formControlName]="'password'" label="Password"></cvg-input-control>
  <cvg-input-control class="employee-form-control" [formControlName]="'department'" label="Department"></cvg-input-control>
  <cvg-input-control class="employee-form-control" [formControlName]="'institution'" label="Institution"></cvg-input-control>
  <cvg-input-control class="employee-form-control" [formControlName]="'diplomaProfession'" label="Diploma profession"></cvg-input-control>
  <cvg-multi-select-control
    [options]="skills"
    class="employee-form-control"
    [formControlName]="'skills'"
    label="Skills"
  ></cvg-multi-select-control>
  <cvg-multi-select-control
    [options]="languages"
    class="employee-form-control"
    [formControlName]="'languages'"
    label="Languages"
  ></cvg-multi-select-control>
  <cvg-select-control [options]="roles" class="employee-form-control" [formControlName]="'role'" label="Role"></cvg-select-control>
</form>
