<form class="form" [formGroup]="projectsForm">
  <cvg-input-control formControlName="name" label="CONTROLS.LABELS.NAME" placeholder="CONTROLS.PLACEHOLDERS.NAME"></cvg-input-control>
  <cvg-input-control
    formControlName="secondName"
    label="CONTROLS.LABELS.SURNAME"
    placeholder="CONTROLS.PLACEHOLDERS.SURNAME"
  ></cvg-input-control>
  <cvg-num-input-control
    formControlName="teamSize"
    label="CONTROLS.LABELS.SIZE"
    placeholder="CONTROLS.PLACEHOLDERS.SIZE"
  ></cvg-num-input-control>
  <cvg-date-picker-control formControlName="startDate" label="CONTROLS.LABELS.START" placeholder="CONTROLS.PLACEHOLDERS.START">
  </cvg-date-picker-control>
  <cvg-date-picker-control
    formControlName="endDate"
    label="CONTROLS.LABELS.END"
    placeholder="CONTROLS.PLACEHOLDERS.END"
  ></cvg-date-picker-control>
  <cvg-multi-select-control
    formControlName="projectRoles"
    label="CONTROLS.LABELS.ROLES"
    [options]="projectRoles$ | async"
    placeholder="CONTROLS.PLACEHOLDERS.ROLES"
  ></cvg-multi-select-control>
  <cvg-multi-select-control
    formControlName="specializations"
    label="CONTROLS.LABELS.SPECIALIZATION"
    [options]="specializations$ | async"
    placeholder="CONTROLS.PLACEHOLDERS.SPECIALIZATION"
  ></cvg-multi-select-control>
  <cvg-multi-select-control
    formControlName="responsibilities"
    label="CONTROLS.LABELS.RESPONSIBILITIES"
    [options]="responsibilities$ | async"
    placeholder="CONTROLS.PLACEHOLDERS.RESPONSIBILITIES"
  ></cvg-multi-select-control>
  <cvg-text-area-control
    formControlName="description"
    label="CONTROLS.LABELS.DESCRIPTION"
    placeholder="CONTROLS.PLACEHOLDERS.DESCRIPTION"
  ></cvg-text-area-control>
  <cvg-text-area-control
    formControlName="tasksPerformed"
    label="CONTROLS.LABELS.TASKS"
    placeholder="CONTROLS.PLACEHOLDERS.TASKS"
  ></cvg-text-area-control>
</form>
